aiogram==3.13.1
fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy[asyncio]==2.0.36
aiosqlite==0.20.0
alembic==1.14.0
telethon==1.37.0
python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
python-multipart==0.0.19
aiofiles==24.1.0
httpx==0.28.0
cryptg==0.4.0
